.aws-sld {

    --slider-height-percentage: 48%;
    --slider-transition-duration: 700ms;
    --organic-arrow-thickness: 4px;
    --organic-arrow-border-radius: 0px;
    --organic-arrow-height: 40px;
    --organic-arrow-color: #519c97;
    --control-button-width: 5%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: #5fb7b2;
    --control-bullet-active-color: #519c97;
    --loader-bar-color: #851515;
    --loader-bar-height: 20px;
    }

